@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6944ff;
  --primary-hover: #5933ff;
  --background: #ffffff;
  --foreground: #000000;
  --muted: #f0f0f0;
  --muted-foreground: #272727;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --muted: #2a2a2a;
  --muted-foreground: #a0a0a0;
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    @apply antialiased;
  }
}

